.title {
    margin-top: 2em;
}
.jumbotron-style {
    margin-top: 2em;
}
h3 {
    display: inline;
}
nav {
    display: inline;
}
.later-ladies {
    margin-top: 2em;
}

footer {
    background-color: black;
    color: white;
}

.later-ladies img{
    border-radius:50%
}

